* {
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    background-color: #161616;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

/* общее */
/* максимальная ширина Х пикселей + перенос по словам */
.mw-350 {
    max-width: 350px;
    word-wrap: break-word;
}

/* КОНЕЦ максимальная ширина Х пикселей + перенос по словам */

/* разворот по строке для флекс блока */
.flex-row__reversed {
    flex-direction: row-reverse;
}

/* КОНЕЦ разворот по строке для флекс блока */

/* заголовок с первой жёлтой буквой и большой буквой в тегах span */
.colored-header {
    font-size: 30px;
    color: #000000;
    line-height: 1.2;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 0;
}

.colored-header::first-letter {
    font-size: 50px;
    color: #ffc600;
}

.colored-header span {
    color: #000000;
    font-size: 50px;
    line-height: 1.2;
    text-transform: uppercase;
}

/* простановка первой буквы чёрной, а не жёлтой - нужно в нескольки местах*/
.nocolor::first-letter {
    font-size: 50px;
    color: #000000;
}


/* КОНЕЦ заголовок с первой жёлтой буквой и большой буквой в тегах span */


/* наклонный чёрный текст 16 пикселей */
.italic-text__black {
    display: inline-block;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    letter-spacing: -1px;
    margin-bottom: 5px;
    /* так более соответствует оригинальному Meriad Pro */
}

/* КОНЕЦ наклонный чёрный текст 16 пикселей */

/* обычный серый цвет 14 пикселей */
.common-text__gray {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #595959;
}

/* КОНЕЦ обычный серый цвет 14 пикселей */

/* отступ X пикселей слева */
.ml-80 {
    margin-left: 80px !important;
}

.ml-35 {
    margin-left: 35px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

/* КОНЕЦ отступ X пикселей слева */

/* отступ X пикселей справа */
.mr-65 {
    margin-right: 65px !important;
}

/* КОНЕЦ отступ X пикселей справа */

/* отступ X пикселей сверху */
.mt-30 {
    margin-top: 30px !important;
}

/* КОНЕЦ отступ X пикселей сверху */

/* КОНЕЦ общее */

/* Header - начало */
.header {
    background-image: url('../img/top_bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 1086px;
}

/* чтобы белый фон контейнера не перекрывал заднее изображение хэдера */
.header .container {
    background: none;
}

.page-head {
    margin-left: 35px;
    margin-bottom: 64px;
}

.page-head__header {
    margin-top: 0;
    padding-top: 35px;
    font-size: 202.2px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: #ffffff;
    margin-bottom: 0;
}

.page-head__header::first-letter {
    color: #ffc600;
}

.page-head__text {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin: 0;
    margin-bottom: 30px;
}

.page-head__text::first-letter {
    color: #ffc600;
}

.page-head__link {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffc600;
    text-decoration: none;
}

.agenda {
    background-image: url('../img/top_fg.jpg');
    height: 654px;
}

.agenda-head {
    padding-top: 70px;
    padding-left: 50px;
    font-size: 60px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: #ffffff;
}

.agenda-head::first-letter {
    color: #ffc600;
}

.agenda-nav {
    margin-left: 50px;
}

.nav-item {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffc600;
    margin-right: 35px;
}

.nav-item:hover {
    color: #ffffff;
    border-bottom: 1px #ffc600 solid;
}

/* Header - конец */
/* About - начало */

.about {
    padding-top: 35px;
    padding-bottom: 110px;
    /* чтобы не прерывался белый фон, придётся пользоваться паддингом */
}

.about-row {
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
}

.about-bigtext__gray {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #717171;
    margin-bottom: 0;
}

.about-bigtext__gray::first-letter {
    font-size: 50px;
}

.about-bigtext__yelblack {
    margin-top: -20px;
    font-size: 80px;
    line-height: 1.2;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0;
}

.about-bigtext__yelblack::first-letter {
    color: #ffc600;
}

.about-text {
    max-width: 600px;
    word-wrap: break-word;
}

.about-card {
    text-align: center;
}

.about-card__img {
    padding: 20px 14px 17px 13px;
    background-color: #e8e8e8;
    border: 2px solid #ffa800;
    border-radius: 50%;
}

.about-card__head {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
}

.about-card__text {
    display: inline-block;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    max-width: 250px;
    word-wrap: break-word;
}

/* About - конец */
/* Featured - начало*/

.featured {
    padding-bottom: 65px;
}

.featured-nav {
    margin-bottom: 25px;
}

.featured-nav__item {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 9px;
    line-height: 1.2;
    font-weight: 600;
    color: #101010;
    margin-right: 35px;
    text-align: center;
}

.featured-nav__item p {
    margin-bottom: 5px;
}

.featured-nav__underline {
    width: 50%;
    height: 1px;
    background-color: #ffc600;
    margin: 0 auto;
    opacity: 0;
}

.featured-nav__item:hover .featured-nav__underline {
    opacity: 1;
}

.featured-pics {
    display: flex;
    flex-wrap: wrap;
}

/* featured - конец */
/* strategic - начало*/
.strategic {
    padding-bottom: 65px;
}

.strategic-agenda {
    margin-right: 64px;
    margin-bottom: 45px;
}

.strategic-row {
    margin: 0 170px;
    display: flex;
}

/* strategic - КОНЕЦ */
/* services - НАЧАЛО*/
.services {
    background-image: url('../img/services_bg.jpg');
    height: 478px;
    margin-bottom: 65px;
    /* 85 - 20 from header */
}

.services-header {
    padding-top: 41px;
    margin-left: 50px;
    margin-bottom: 25px;
}

.services-rows {
    margin-left: 475px;
    margin-right: 185px;
    margin-bottom: 55px;
}

.services-rows {
    margin-left: 475px;
    margin-right: 185px;
}

.services-row {
    display: flex;
    justify-content: space-between;
}

.services-elem {
    text-align: left;
    color: #fff;
    width: 230px;
}

.services-elem__head {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
}

.services-elem__text {
    font-size: 11px;
    line-height: 1.2;
    font-weight: 400;
}

.team-agenda {
    display: flex;
    align-items: center;
}

.team-agenda__text {
        margin-left: 145px;
        max-width: 620px;
        margin-bottom: 25px;
}